.hero{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 90vw;
  padding-block-start: 150px;
  gap: 24px;
}
.hero .hero_aceros-industriales h1{
  position: relative;
  font-size: 20vw;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
  text-align: center;
  line-height: 60%;
  /* background-color: red; */
}
.hero .hero_aceros-industriales h1 span{
  display: block;
  font-size: 10vw;
  color: #424242;
}

.hero_btn{
  min-inline-size: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.slider{
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}
.slider p{
  text-transform: lowercase;
}
@media screen and (min-width: 1024px){
  .hero {
    padding-block-start: 200px;
  }
  .hero .hero_aceros-industriales h1{
    line-height: 16vh;
  }
}
