@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

@import './reset.css';
@import './header.css';
@import './components/wrapper.css';
@import './components/button.css';
@import './components/search.css';
@import './components/dropdown.css';
@import './hero.css';

