.search{
  /* background-color: red; */
  border: none;
  /* border-bottom: 1px solid #FFF; */
  background: none;
  text-align: center;
  }
.search input{
  height: 32px;
  background: none;
  border-radius: 8px;
  border: none;
  /* border-bottom: 1px solid #FFF; */
  font-size: 16px;
  color: #fff;
  padding-left: 15px;
  /* background: red; */
}
.search .fa-search{
  color: var(--light1);
  /* background: red; */
}
/* .search #search{ */
/*   border: none; */
/*   background: none; */
/*   height: 32px; */
/*   width: 32px; */
/*   color: var(--light1); */
/*   font-size: 16px; */
/* } */
/* @media screen and (min-width: 768px){ */
/*  */
/* } */
/*  */
